@import "modules/auth/LoginScreen";
@import "modules/font/FontScreen";
@import "modules/navigation/AppAppBar";

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .content-container{
    flex: 1;
    overflow-y: scroll;
  }
}

.link-unstyled{
  color: inherit;
  text-decoration: none;
}

form{
  display: flex;
  flex-direction: column;

  .input{
    margin-bottom: 1rem;
  }

  .checkbox{
    margin-top: -0.5rem;
    margin-bottom: 1rem;
  }

  .action-button{

  }
}

